.habout-sec {
    margin-top: -128px;
    padding: 240px 10px 140px 10px;
    background-color: #EDFAFF;
    clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 100%,
    80% 100%,
    20% 100%,
    0 100%,
    0% 20%
  );
}

.habout-sec .left-col {
    padding: 0px 20px 0px 20px;
}

.heading {
    margin-bottom: 30px;
}

.heading h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: Thinking Of Betty;
    color: #82d4f6 !important;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 0;
}

.heading h2 {
    font-size: 32px !important;
    font-family: Montserrat !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #004262 !important;
    text-align: left;
    position: relative;
    width: fit-content;
}

.heading h2:after {
    content: "";
    position: absolute;
    width: 310px;
    height: 20px;
    background: #7bbbd7;
    bottom: 0;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
    right: 0;
    margin: auto;
}

.content {
    padding: 0px;
}

.content p {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 27px;
    text-align: left;
}

.btns-cus {
    margin-top: 50px;
}

.btns-cus a {
    font-size: 14px;
    font-family: Oxygen;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-color: #82d4f6;
    border-radius: 30px;
    padding: 16px 32px;
    box-shadow: 0px 0px 1px 5px #82d4f6;
    text-decoration: none;
    animation: pulse-animation 2s infinite;
}

.btns-cus a:hover {
    background-color: #002435;
    transition: 0.5s;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgb(130, 212, 246);
    }
    100% {
      box-shadow: 0 0 0 20px rgb(255 0 0 / 0%);
    }
  }

.about-light-img {
    position: relative;
}

.about-light-img img {
    border-radius: 35px !important;
}

.about-light-img:after {
    content: "";
    position: absolute;
    width: 214px;
    height: 210px;
    background-image: url("../../../../public/images/Logo.png");
    background-repeat: no-repeat;
    bottom: -74px;
    left: -110px;
    right: 0;
    margin: 0 auto;
}