/* li.active a:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #82d4f6;
    bottom: -50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 10px;
} */

li.active a {
    color: #014363;
}